.photo{
    height: 50px;
    width: 50px;
    background: #464242;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #efefef;
    font-size: 2rem;
}
.photo:hover{
    background: #706d6d;
    cursor: pointer;
}
