body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html[data-theme='light']{
  --link-color: #2f94ad;
  --text-color: #a2a0a0;
  --header-color:#fff;
  --border-color: gray
}

html[data-theme='dark'] {
  --link-color: #2f94ad;
  --text-color: snow;
  --header-color:#222d33;
}
